<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

                <!--       데이터의 URL로 가장 적절한 액티비티를 호출하는 액션        -->
                <action android:name="android.intent.action.VIEW" />
                <!--     다른 앱이 내활동을 시작하도록 허용          -->
                <category android:name="android.intent.category.DEFAULT" />
                <!--     http 통신과 비슷한 방식           -->
                <!--      scheme : http://    =>  sample://    -->
                <!--      host   :  url 방식  =>  sampleurldata    -->
                <!--      App 도메인 방식으로 다른 앱에서 호출         -->
                <data android:scheme="sample" android:host="sampleurldata"/>
            </intent-filter>

        </activity>
    </application>

</manifest>